:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --fonts: "IBM Plex Mono"; /*  --main-font-family */
  --bg-color: #000028;
  --title-color: #db00ff;
  --main-color: #ff0070;/*  --accent-color: */
  --subtitle-color: #000028; /* --accent-text-color*/
  --text-color: #f1b2ce; /* --main-text-color*/
  --button-color: #ff0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  --decorated-element-color: #ff0070;
  --paragraph-title-color: #ff0070;
}

:root.theme-dark .header__decorated-element {
  display: block;
}