:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --fonts: "IBM Plex Mono"; /*  --main-font-family */
  --bg-color: #fff;
  --title-color: #ffc2e6;
  --main-color: #ff8dcb;/*  --accent-color: */
  --subtitle-color: #353430; /* --accent-text-color*/
  --text-color: #353430; /* --main-text-color*/
  --button-color: #353430;
  --button-color-hover: rgba(53, 52, 48, 0.4);
  --decorated-element-color: #353430;
  --paragraph-title-color: #353430;
}

:root.theme-light .header__decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --fonts: "IBM Plex Mono"; /*  --main-font-family */
  --bg-color: #fff;
  --title-color: #ffc2e6;
  --main-color: #ff8dcb;/*  --accent-color: */
  --subtitle-color: #353430; /* --accent-text-color*/
  --text-color: #353430; /* --main-text-color*/
  --button-color: #353430;
  --button-color-hover: rgba(53, 52, 48, 0.4);
  --decorated-element-color: #353430;
  --paragraph-title-color: #353430;
  }

  .header__decorated-element {
    display: none;
  }
}